@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body {
    font-family: rubik;
            
    }
    
.text-shadow {
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5) ;
}


@media only screen 
and (max-width : 350px) {  
  
    a.brand-logo { 
        font-size: 20px;    

    }
}   

@media only screen 
and (max-width : 800px) {  
  
    nav .brand-logo { 
        left: 35%;    

    }
}



.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

