{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2">
          <div class="card-panel profile grey lighten-2">
              <h3 class="center-align teal-text lighten-2">
                  {{ username }}'s Profile
                  <br><br>
              <h6 class="center-align teal-text lighten-2">Welcome to our School Meetings management database.</h6><br><br>
                  <h5 class="center-align"><em>Don't share your log in or password with anyone else!!</em></h5><br><br>
                  <h5 class="center-align teal-text lighten-2"><em></em>Communication is Key!!<em></h5>
              </h3>
          </div>
        </div>
    </div>

{% endblock %}
